@model Forum_v1.Models.EnterIntoTopicViewModel
@using Forum_v1.HtmlHelpers




@foreach (var item in Model.Messages)
{
    <div class="container-fluid">
        <hr>
        
        <div class="row d-flex justify-content-between">

            <div class="col-xs-12 col-md-2 col-lg-2">

                <p>
                    @if (User.Identity.IsAuthenticated && item.User.Email == User.Identity.Name)
                    {
                        <i class="fa fa-circle" aria-hidden="true" style="color:green"></i>
                    }

                    Имя: @Html.DisplayFor(modelItem => item.User.ClientName)

                </p>

                @if (item.isEdited)
                {
                    <p>
                        <i class="fa fa-circle" aria-hidden="true" style="color:orange"></i>
                        Сообщение изменено: @Html.DisplayFor(modelItem => item.DateOfLastEdit)
                    </p>
                }

                @if (item.User.Avatar == null)
                {
                    <div class="form-control-static">Нет картинки</div>
                }

                else
                {
                    <img style='width:80px; height:60px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(item.User.Avatar))" />
                }

            </div>

            <div class="col-xs-12 col-md-2 col-lg-2">
                <p>Компания: @Html.DisplayFor(modelItem => item.User.CompanyName)</p>
            </div>

            <div class="col-xs-12 col-md-2 col-lg-2">
                <p>Дата создания: @Html.DisplayFor(modelItem => item.Date)</p>
            </div>

        </div>

        <div class="row">
            <div class="col pt-4">
                @Html.DisplayFor(modelItem => item.Text)
            </div>
        </div>

        <div class="row justify-content-end">

            @if (User.Identity.IsAuthenticated && item.User.Email == User.Identity.Name)
            {

                <a href="/Topic/EditMessage?id=@item.Id&curPage=@Model.PagingInfo.CurrentPage" class="my-3 mx-4">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>

                <a href="/Topic/DeleteMessage?id=@item.Id" class="my-3 mx-4">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>

            }
            
        </div>
        <hr>
    </div>

}




<div class="container-fluid py-3">

    <div class="row justify-content-center py-2">

        @if (User.Identity.IsAuthenticated)
        {
            <div class="col-xs-12 col-md-1 col-lg-1  p-2">
                @Html.ActionLink("Назад", "Index", "Topic", routeValues: null, htmlAttributes: new { @style = "font-size: 1em", @class = "btn btn-dark" })
            </div>

            <div class="col-xs-12 col-md-1 col-lg-1  p-2">

            </div>

            <div class="col-xs-12 col-md-1 col-lg-1  p-2">
                @Html.ActionLink("Сообщение", "CreateNewMessage", "Topic", routeValues: new { topicId = Model.TopicId},
               htmlAttributes: new { @style = "font-size: 1em", @class = "btn btn-dark" })
            </div>

        }
        else
        {
            <div class="col-xs-12 col-md-10 col-lg-6  p-2">
                @Html.ActionLink("Войдите, чтобы отправлять сообщения.", "Login", "Account",
                routeValues: null, htmlAttributes: new { @style = "font-size: 1em", @class = "btn btn-dark" })
            </div>
        }

    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("EnterIntoTopic", new { topic_Id = Model.TopicId, page = x }))
    </div> 
</div>

